<p>
    <strong>User:</strong>
    <%= @image.user.email %>
</p>
<p>
    <strong>Title:</strong>
    <%= @image.title %>
</p>
<p>
    <strong>File:</strong>
    <%= image_tag @image.file.url %>
</p>
<p>
    <strong>Created at:</strong>
    <%= @image.created_at %>
</p>
<h2>コメントフォーム</h2>
<%= form_with(model: @image_comment, local: true) do |form| %>
<div class= "field">
<%= form.label :comment %><br>
<%= form.text_field :comment %>
<%= form.hidden_field :image_id, :value => @image.id %>
</div>
<div class="actions">
<%= form.submit %>
</div>
<h2>コメント一覧</h2>
<ul>
    
<% @image.image_comment.each do |image_comment|%>
<li><%= image_comment.comment %>
(<i>
    <% @users.each do |user|%>
        <% if user.id == image_comment.user_id %>
        <%= user.email %>
        <%end %>
    <% end %>
    </i>)</li>
<% end %>


    
</ul>
<% end %>